<!--
<h1>Welcome to the SFSUCSCRDP, also known as San Francisco State University Computer Science Class Restaurant Database Project. </h1>
<p>To navigate through the database, please use the nav bar at the top area of the page. Thank you!</p>
-->
<style>
thead {color:green;}
tbody {color:red;}
th {
  text-align: center;
}
body {
  background: url(http://www.theredherring.co.za/wp-content/uploads/2013/03/background.jpg);
  background-size: 100%;
  background-position: center top;
}
</style>

<body>
    <h1 align="center">
      <strong>CSC675 Restaurant Database</strong>
    </h1>

    <table>
        <thead>
            <tr>
                <th>
                  Welcome! This is a Restaurant Database that has a table for Customer, Order, Reservation; at the same time also keep tracks of the data have keys that are interlinked to other tables.
                </th>
            </tr>
        </thead>
        <tbody align="center">
            <tr>
                <td>
                  Members: Guan, Micheal, Clarence, Xinlu
                </td>
            </tr>
        </tbody>
    </table>
</body>
