<body>
  <div class="container order-container">
    <div class="orderInfo">
      <div class="list-group">
        <h1 class="text-center">Restaurant details</h>
        <div class="media">
          <!--Reservation info-->
          <div class="media-body">
            <hr>
            <h4>Total Customers:</h4>
            <h4>Total Orders:</h4>
            <h4>Total Reservations:</h4>
          </div>           
        </div>
        <br>
      </div>
    </div>
  </div>
</body>

