/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.well{
	width: 500px;
	height: 500px;
}
.carousel {
	margin-bottom: 0;
	padding: 0 10px 5px 10px;
}

.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}

.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}

.carousel-indicators li {
	background: #c0c0c0;
}

.carousel-indicators .active {
background: #333333;
}
