/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.order-container{
	border: 1px solid black;
	border-radius: 10px;
	max-width: 800px;
}

.menu-box{
	border: 1px solid black;
	border-radius: 10px;
}

table, tr{
	background-color: transparent;
}

.centered{
	margin: 0 auto;
}