// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table {
	border-collapse: collapse;
	width: 100%;
}

table tr td {
	padding: 20px;
}

thead {
	//text-align: left;
	background: #06139A;
	color: #FFF;
}

thead th {
	text-align: left;
	padding: 15px;
	font-size: 110%
}

.odd_line {
	background: #CAF1FF;
}

.even_line {
	background: #EEEEEE;
}